.menu-2917, ul.links li.menu-2917 {
  background-image: url(/files/imagecache/menu_icon/menu_icons/menu_icon_2917.jpg);
  padding-left:30px;
  background-repeat: no-repeat;
  background-position: left;
  height: 30px;
}

.menu-2937, ul.links li.menu-2937 {
  background-image: url(/files/imagecache/menu_icon/menu_icons/menu_icon_2937.jpg);
  padding-left:30px;
  background-repeat: no-repeat;
  background-position: left;
  height: 30px;
}

.menu-2936, ul.links li.menu-2936 {
  background-image: url(/files/imagecache/menu_icon/menu_icons/menu_icon_2936.jpg);
  padding-left:30px;
  background-repeat: no-repeat;
  background-position: left;
  height: 30px;
}

.menu-2935, ul.links li.menu-2935 {
  background-image: url(/files/imagecache/menu_icon/menu_icons/menu_icon_2935.jpg);
  padding-left:30px;
  background-repeat: no-repeat;
  background-position: left;
  height: 30px;
}

.menu-2918, ul.links li.menu-2918 {
  background-image: url(/files/imagecache/menu_icon/menu_icons/menu_icon_2918.jpg);
  padding-left:30px;
  background-repeat: no-repeat;
  background-position: left;
  height: 30px;
}

.menu-2916, ul.links li.menu-2916 {
  background-image: url(/files/imagecache/menu_icon/menu_icons/menu_icon_2916.jpg);
  padding-left:29px;
  background-repeat: no-repeat;
  background-position: left;
  height: 29px;
}

.menu-2939, ul.links li.menu-2939 {
  background-image: url(/files/imagecache/menu_icon/menu_icons/menu_icon_2939.gif);
  padding-left:16px;
  background-repeat: no-repeat;
  background-position: left;
  height: 16px;
}

.menu-2941, ul.links li.menu-2941 {
  background-image: url(/files/imagecache/menu_icon/menu_icons/menu_icon_2941.jpg);
  padding-left:30px;
  background-repeat: no-repeat;
  background-position: left;
  height: 30px;
}

.menu-2942, ul.links li.menu-2942 {
  background-image: url(/files/imagecache/menu_icon/menu_icons/menu_icon_2942.jpg);
  padding-left:30px;
  background-repeat: no-repeat;
  background-position: left;
  height: 30px;
}

.menu-2943, ul.links li.menu-2943 {
  background-image: url(/files/imagecache/menu_icon/menu_icons/menu_icon_2943.jpg);
  padding-left:23px;
  background-repeat: no-repeat;
  background-position: left;
  height: 23px;
}

.menu-2944, ul.links li.menu-2944 {
  background-image: url(/files/imagecache/menu_icon/menu_icons/menu_icon_2944.jpg);
  padding-left:30px;
  background-repeat: no-repeat;
  background-position: left;
  height: 30px;
}

.menu-2946, ul.links li.menu-2946 {
  background-image: url(/files/imagecache/menu_icon/menu_icons/menu_icon_2946.jpg);
  padding-left:30px;
  background-repeat: no-repeat;
  background-position: left;
  height: 30px;
}

.menu-2947, ul.links li.menu-2947 {
  background-image: url(/files/imagecache/menu_icon/menu_icons/menu_icon_2947.jpg);
  padding-left:30px;
  background-repeat: no-repeat;
  background-position: left;
  height: 30px;
}

.menu-2949, ul.links li.menu-2949 {
  background-image: url(/files/imagecache/menu_icon/menu_icons/menu_icon_2949.jpg);
  padding-left:30px;
  background-repeat: no-repeat;
  background-position: left;
  height: 30px;
}

