/* $Id: style.css,v 1.23 2007/12/17 15:05:09 goba Exp $ */

/*
** HTML elements
*/
body{
	/*background:#FFF url(images/background.gif);*/
	color:#000000;
	font-family:Arial;
	font-size:12px;
	line-height:1.5;
	margin:0px;
	padding:0px;
}
.content{
color: #808080;
}
a,a:visited{
	/*color:#0066CC;*/
	text-decoration:none;
}
a:hover{
	text-decoration:underline;
}
img,p,ul,li,links{
	margin:none;
}
h1,h2,h3,h4,h5,h6{
margin:0px;
}
p {
	padding:0px;
	margin:5px;
}
h1{
	font-size:17px;
}
h2{
	font-size:15px;	
}
h3{
	font-size:13px;
}
td{
	vertical-align:top;
}
tbody{
	border: 0px solid;
}
#block-formblock-product .node-form .form-text, #block-formblock-news .node-form .form-text{
    display: block;
      width: 191px !important;
}
#block-formblock-news form{
width:200px;
}
.form-item label {
  font-size: 1em;
  color: #222;
}
.item-list .title {
  font-size: 1em;
 /* color: #222;*/
}
#edit-field-galleryimage-0-upload-wrapper{
/*width:174px;*/
}


#block-views-gallery_home_page-block_1 .node {
    border-bottom: 1px solid #E9E9E9 !important;
    border-color: #E9E9E9 !important;
    margin-bottom: 8px !important;
    padding: 0 9px 14px !important;
}


.frontpage .node{
padding:0px !important;
border:0px !important;
margin:0px !important;
}
.links {
  margin-bottom: 0;
  clear:both;
}
.comment .links {
  margin-bottom: 0;
}

/*
** Page layout blocks / IDs
*/
#page-wrap{
	width:980px;
	/*background:#eff0e2;*/
	margin:auto;
}

#header, #content {
  width: 980px;
}
#header {
  /*height: 85px;*/
  /*background: url(images/banner.jpg) no-repeat;*/
}
#banner {
	width:980px;
	height:85px;
	background: url(images/banner.jpg) no-repeat;
	/*margin-left:-5px;*/
}
/*.menu_icon {
  display: block;
  overflow: hidden;
  padding-left: 100%;
}*/
.breadcrumb {
  margin-bottom: .5em;
}
.messages {
  /*background-color: #eee;*/
  border: 1px solid #ccc;
  padding: 0.3em;
  margin-bottom: 1em;
}
.error {
  border-color: red;
}
#sidebar-left{
	width:200px;
}
#sidebar-right{
	width:250px;
}
.sidebar{
	padding:5px;
	padding-left:0px;
	padding-right:0px;
	padding-top:0px;
	font-size:10px;
}
.sidebar .block{
	/*padding:5px;*/
	margin-bottom:10px;
}
#sidebar-left .block, #sidebar-right .block{
	/*background:#fff url(images/block_orange.jpg) repeat-x;*/
	/*border:#FF9900 1px solid;	
	padding:5px;*/
	margin-bottom:10px;
}
#sidebar-left .block{
border-right:0px solid gray;
margin-bottom:0px;
padding-bottom:15px;

}
#sidebar-left h2 {
    font-family: arial;
    font-size: 11px;
    font-weight: bold;
}

#main {
    overflow: hidden;
    padding: 5px;
    width: 512px;
}
#main .node{
	/*background:#fff url(images/node.jpg) repeat-x;*/
   border-bottom: 0px solid #E9E9E9;
    border-color: #E9E9E9;
    padding: 0 10px 30px;
	 border-color: #E9E9E9;
	 border-bottom:0px solid #E9E9E9;
}
hr {
    border-style: solid none none;
    border-width: 1px 0 0;
    height: 16px;
	 border-color: #E9E9E9;
}
#main .sticky{
	/*border:#b1e0f0 4px solid;*/
}
.block{
	margin:0px;
	padding:0px;
}

#footer{
	text-align:center;
	/*background:#fff url(images/footer.jpg) center no-repeat;*/	
	  background: url("images/bg.png") repeat scroll 0 0 #EFF0E2;
	   height: 68px;
    margin-top: -2px;
    overflow: hidden;
    padding: 0;
    width: 980px;
	margin-bottom:10px;
/*	  
	  
	border:0px;
	padding:10px;
	padding-top:20px;
	width:960px;
	height:60px;*/
}
#footer-credites{
    color: white;
    font-family: arial;
    font-size: 13px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 500px;
	
}
.foo-links a{
padding-left:8px;
padding-right:8px;

}
#footer-credits{
display:none
}
#footer-credits a{
color:#FFFF99;
} 
#block-block-58{
padding-top:6px;
}
#block-block-58 a, #block-block-58 a:visited {
    color: #FFFF99;
    text-decoration: none;
}
/*
** Common declarations for child classes of node, comment, block, box, etc.
** If you want any of them styled differently for a specific parent, add
** additional rules /with only the differing properties!/ to .parent .class.
** See .comment .title for an example.
*/
#main .submitted {
 /* color: #999;*/
  display:none;
}
.links {
 color: #3B5998;
}
.links a {
  font-size:11px;
   color: #3B5998;
  font-weight:bold;
}
.node {
  margin: .5em 0 2em; /* LTR */
}
.sticky {
  padding: .5em;
  /*background-color: #eee;
  border: solid 1px #ddd;*/
}
#menu{
	background:#eff0e2 url(images/plink.jpg);
	height:30px;
	padding:0px;
	width:980px;
	margin-top:-2px;
	overflow:hidden;
}
#menu #primary-links {
	width:450px;
	float:left;

}

#primary-links li{
	padding:0px;
	height:20px;
}
#primary-links a{
	display:block;
	padding-left:10px;
	padding-right:10px;
	height:25px;
	padding-top:6px;
	font-weight:bold;
	float:left;
	text-align:center;
	font-size:11px;
	color:#FFFF99;
}


#primary-links a,#primary-links a:visited{
text-decoration:none;
	color:#FFFF99;
}
#primary-links a:hover{
text-decoration:underline;
background-image:url(images/plink-active.jpg);
}




#search-bar #block-search-0 {
float:left;
_padding-top:3px;
}
#search-bar #block-block-45 {
float:right;
margin-top:-6px;
_margin-top:-4px;
width:320px;
overflow:hidden;
}
#search-bar a{
	display:block;
	padding-left:10px;
	padding-right:10px;
	height:25px;
	padding-top:6px;
	font-weight:bold;
	float:left;
	text-align:center;
	font-size:11px;
	color:#FFFF99;
}


#search-bar a,#search-bar a:visited{
text-decoration:none;
	color:#FFFF99;
}
#search-bar a:hover{
text-decoration:underline;
background-image:url(images/plink-active.jpg);
}




#sub-links {
    background-color: #EFF1E4;
    border: 1px solid pink;
    height: 87px;
    margin-bottom: 1px;
    overflow: hidden;
    padding: 7px;
    width: 964px;
}
#sub-links li{
	list-style:inside;
}
#sub-links li a,#sub-links li a:visited{
	color:#1b3005;
}
#sub-links li a:hover{
	text-decoration:underline;

}
#sub-links1,#sub-links2,#sub-links3,#sub-links4,#sub-links5,#sub-links6{
	width:150px;
	height:60px;
	float:left;
	margin-right:10px;
	font-size:10px;
	color:#1b3005;
}

#quiz-report-marksheet label {
	display: none;
}
#quiz-report-marksheet .form-item {
	margin: 0px;
	padding:0px;
}
.tcell {
	text-align: center;
}
#exam-report-marksheet label {
	display: none;
}
#exam-report-marksheet .form-item {
	margin: 0px;
	padding:0px;
}

#profile-wrapper {
	width:530px;
	margin:10px;
}
#main .node-child {
	/*background:#fff url(images/profile_bg.gif) repeat-x;
	border:#b1e0f0 1px solid;*/
	margin-bottom:10px;
}
#main .node-quiz {
	/*background:#fff url(images/quiz_bg.png) repeat-x;
	border:#d4d6a8 1px solid;*/
	margin-bottom:10px;
	padding:10px;
}
#main .node-institute {
	/*background:#fff url(images/institute_bg.png) repeat-x;
	border:#c6c6c4 1px solid;*/
	margin-bottom:10px;
	padding:10px;
}
#profile-header {
	height:19px;
	width:100%;
	/*background:url(images/border.png) repeat-x;*/
}
#child-image {
	/*border:3px #1373a3 solid;*/
}

#edu-info-wrap,
#hobbies-info-wrap,
#reports-info-wrap {
	/*border-top:2px #84bdd8 solid;
	border-left:2px #84bdd8 solid;*/
}
#personal-info-wrap,
#hobbies-info-wrap,
#edu-info-wrap,
#reports-info-wrap {
	margin-top:15px;
	margin-bottom:15px;
}

#edu-info-wrap {
}

#p-info {
	width:530px;
}
#h-info, #edu-info {
	width:400px;
}



.present {
	/*color:#32911f;*/
	font-size:13px;
}
.absent{
	/*color:#ff0000;*/
	font-size:13px;
}

.cell {
	height:60px;
}

.day {
	font-size:20px;
}
.quiz-header {
	/*background:#d8ecb5;
	color:#bd8c18;*/
}
.quiz-even {
	/*background:#eae6c1;*/
}
.quiz-odd{
	/*background:#eeeece;*/
}
#main .node-quiz {
	/*background:#fff url(images/quiz_bg.png) repeat-x;*/
	/*border:#d4d6a8 1px solid;*/
	margin-bottom:10px;
	padding:10px;
}
#main .node-exam {
	/*background:#fff url(images/quiz_bg.png) repeat-x;*/
	/*border:#d4d6a8 1px solid;*/
	margin-bottom:10px;
	padding:10px;
}
.i-color {
	/*color:#e7a781;*/
}

#edit-field-p-0-value-wrapper {
 	display: none;
}
#edit-field-pid-0-value-wrapper {
 	display: none;
}

#datesheet-form .form-item label {
	display:none;
}
#datesheet-form .form-item {
	margin:0px;
	padding:0px;
}

#top-student {
	height:150px;
	/*background: #fff url(images/block_gray.jpg) repeat-x;*/
	/*border: 1px #666 solid;*/
	margin:5px;
	padding:5px;
}

#alerts {
	/*background:#fff url(images/block_gray.jpg) repeat-x;*/
	/*border:#666666 1px solid;	*/
	padding:5px;
	margin-bottom:10px;
}

.ascii_art_captcha {
	/*color:#000000 !important;*/
}

#ur #edit-submit {
	float:left
}

#back {
	padding-left: 10px;
}

tr.even {
	/*background:#ddd;
	border:1px #ccc solid;*/
}
tr.odd {
	/*background:#eee;
	border:1px #ccc solid;*/
}

tr.even td , tr.odd td {
	/*border:1px #aaa solid;*/
	padding:3px;
}
.description {
	display:none;
}

.captcha {
	border:0px;
	margin:0px;
	padding:0px;
}
.captcha legend {
	display:none;
}


/*****ikram******/
#search-bar{
	/*background-color:#74c065;*/
	height:21px;
	padding:0px;
	width:530px;
	margin-top:4px;
	float:right;
	_margin-top:0px;
	/*background-color:#000099;
	border-bottom:1px solid #1d3405;*/
}
#search-bar .title, #search-bar label {
	display:none;
}

#search-bar input {
	width:202px;
	/*margin-top:-3px;*/
}

#search-bar .block-search {
	padding-top:0px;
	padding-bottom:0px;
	margin-left:0px;
	width:235px;
	float:left;
}
#search-bar #block-block-48{
	float:left;
	width:290px;
	height:26px;
}
#search-bar #block-block-48 a{
	color:#FFFF99;
	font-size:11px;
	font-weight:bold;
	height:25px;
}

#search-bar .block-block {
	padding-top:3px;
	padding-bottom:3px;
	margin-left:0px;
	float:right;
	width:300px;
	text-align:right;
	padding-right:3px;
}
#search-bar .form-submit {
    margin: -1px 0 0 3px;
   width: 55px !important;


}
h1 a{
font-size:12px !important;
font-weight:bold !important;
}


#row1{
	width:996px;
	margin-left:-8px;
	_margin-left:-15px;
}
#col{
	margin-bottom:10px;
	_margin-bottom:0px;
	overflow:hidden;
	float:left;
	margin-left:8px;
}
a, a:visited {
  font-size:11px;
   color: #3B5998;
  font-weight:bold;
}

.row-cols1 {
	width:980px;
}
.row-cols4 {
	width:252px;
}
.row-cols2 {
	width:772px;
}
.row-cols3 {
	width:382px;
}
.content-row-cols3{
	width:252px;
}
.content-row-cols1{
	width:772px;
}
.content-row-cols2 {
	width:382px;
}

.green{border:1px solid #e1eeb8; background-color:#f1f8e3;}
.blue{border:1px solid #B1E0F0; background-color:#E9F8FC;}
.red{border:1px solid red; background-color:#F9EBE6;}
.pink{border:1px solid #ffd4ae; background-color:#fffbef ;}
.green .title{
background:url(images/green.jpg) repeat-x;
padding-left:5px;
}
.pink .title{
background:url(images/pink.jpg) repeat-x;
padding-left:5px;
color:#7B2E00;

}
.red .title{
background:url(images/red.jpg) repeat-x;
padding-left:5px;
}
.blue .title{
background:url(images/blue.jpg) repeat-x;
padding-left:5px;
}
.blue .content .title, .green .content .title, .pink .content .title, .red .content .title{	
	background:none;
}
.blue .content, .green .content, .pink .content , .red .content {	
	margin-left:5px;
}
/*Horizantal login bar*/
// Css Code for making Default Drupal Block to appear as horizontal bar.
#block-user-0 {
margin: 2em 0 1em;
}
#block-user-0 *
{
display: inline;
color:#292928;
}
#edit-user-login-block {
display:none; /* rehide hidden form element */
}
#block-user-0 h2 {
font-size: 92%;
}
#block-user-0 .form-item {
margin-left: 1em;
font-size:11px;
}
#block-user-0 li {
list-style:none;
background:none;

}
#block-user-0 .form-text{
font-size:10px;
height:12px;
width:70px;
}
#block-user-0 .form-submit{
font-size:11px;
height:19px;
}


#mylinkbar{
display:inline;
list-style-image:none;
background:none;
_margin-top:-2px;
}
#mylinkbar li{
display:block;
list-style-image:none;
margin-left:0px;
margin-right:0px;
background:none;
float:right;
}
#mylinkbar li.line {
background-color:#FFFF99;
height:32px;
width:2px;
}

.block-search {
    float: left;
    height: 25px;
    margin-top: 3px;
	padding-left:0px;
}
.view-ad-block img{
float:left;
padding-right:5px;
}
.view-ad-block p{
padding-top:0px !important;
 margin-top:0px !important; 
}
#edit-search-block-form-1-wrapper {
height:21px;
margin-top:0px;
display:block;
float:left;
*margin-top:-1px;
_margin-top:0px;

}

#edit-search-block-form-1-wrapper input{
height:21px;
border:0px;
width:316px !important;
outline:none;
background:url(images/Search_textbox.jpg) no-repeat;
font-size:12px;
}
#block-block-48 ul {
	margin-top:-3px;

}

.col-first {
	width:200px !important;
}







/*
.node-profile-edit .form-item label, .node-profile-edit .form-item input {
display:block;
float:left;
}
.node-profile-edit .form-item, .node-profile-edit .filefield-ahah-wrapper{
display:block;
float:none;
clear:both;
}

.node-profile-edit .form-item label {
	width:140px !important;
	padding-right:10px;
	text-align:right;
}
.node-profile-edit .form-item input {
	width:200px !important;
	overflow:hidden;
}
.node-profile-edit .form-item span {
	width:400px !important;
}
.node-profile-edit .form-item span .grippie{
margin-right:0px !important;
width:601px !important;
margin-left:150px !important;
}
.node-profile-edit .form-item textarea {
	width:600px !important;
	height:120px;
	margin-left:150px;
}

.node-profile-edit #field-galleryimages-items table{
margin-right:300px !important;
}
.node-profile-edit .body-field-wrapper .tips,.node-profile-edit .body-field-wrapper p{
margin-left:150px;

}
.node-profile-edit .body-field-wrapper #edit-teaser-include-wrapper label{
width:200px !important;
}
.node-profile-edit .body-field-wrapper #edit-teaser-include-wrapper label input{
float:left !important;
width:15px !important;
}
.node-profile-edit #edit-field-profileimage-0-list-wrapper label{
	margin-left:150px;
	text-align:left !important;
	width:230px;
}
.node-profile-edit #edit-field-profileimage-0-list-wrapper label input {
width:15px !important;
float:left !important;
}*/
/*
.node-profile-edit #field-galleryimages-add-more-wrapper th {
padding-left:36px;
}
.node-profile-edit input,.node-profile-edit textarea, .node-profile-edit input,.node-profile-edit .form-file {
border:1px solid #BDC7D8;
font-family:"lucida grande",tahoma,verdana,arial,sans-serif;
font-size:11px;
padding:3px;
}
.node-profile-edit #edit-field-profileimage-0-fid,
.node-profile-edit #edit-field-galleryimages-0-fid,
.node-profile-edit #edit-field-galleryimages-1-fid,
.node-profile-edit #edit-field-galleryimages-2-fid,
.node-profile-edit #edit-field-galleryimages-3-fid,
.node-profile-edit #edit-field-galleryimages-4-fid,
.node-profile-edit #edit-field-galleryimages-5-fid,
.node-profile-edit #edit-field-galleryimages-6-fid,
.node-profile-edit #edit-field-galleryimages-7-fid,
.node-profile-edit #edit-field-galleryimages-8-fid,
.node-profile-edit #edit-field-galleryimages-9-fid,
.node-profile-edit #edit-field-galleryimages-10-fid,
.node-profile-edit #edit-field-galleryimages-11-fid,
.node-profile-edit #edit-field-galleryimages-12-fid,
.node-profile-edit #edit-field-galleryimages-13-fid,
.node-profile-edit #edit-field-galleryimages-14-fid,
.node-profile-edit #edit-field-galleryimages-15-fid,
.node-profile-edit #edit-field-galleryimages-16-fid,
.node-profile-edit #edit-field-galleryimages-17-fid,
.node-profile-edit #edit-field-galleryimages-18-fid,
.node-profile-edit #edit-field-galleryimages-19-fid,
.node-profile-edit #edit-field-galleryimages-20-fid{
padding:0px;
border:0px;
}

/*.node-profile-edit #edit-field-profileimage-0-upload-btn {
float:none;
margin:50px;
margin-left:150px;
}
.node-profile-edit #field-galleryimages-add-more-wrapper tr.even, 
.node-profile-edit #field-galleryimages-add-more-wrapper tr.odd {
	background-color:#fff !important;
}

.filefield-ahah-wrapper {
height:100px;
}
.node-profile-edit #edit-field-profileimage-0-wrapper #edit-field-profileimage-0-upload-btn{
float:none;
margin:30px 250px 30px 150px;

}

*/

/*profile css*/
#profile_outer {
	
}
/*#pro_top {
	height:auto;
	width:100%;
	float:left;
}
#pro_heading {
	float:left;
	width:60%;
	height:100px;
	font-family:arial;
	font-size:16px;
	font-weight:bold;
	text-align:center;
	position:relative;
	vertical-align:middle;
}
*/
#pro_personal {
	width:100%;
	height:auto;
	float:left;
}
#pro_pic img {
	/*max-height:100px;
	max-width:150px;*/
	float:right;
	border:4px solid #FFFFFF;
	outline:1px solid #333333;
	width:150px;
	height:auto;
}
.pro_label {
	float:left;
	width:170px;
	font-family:arial;
	font-weight:bold;
	color:#777;
}
.pro_title {
	font-family:arial;
	font-size:11px;
	font-weight:bold;
	margin:15px 0 0 0;
}
.title_border {
	height:1px;
	width:100%;
	margin-bottom:10px;
	border-bottom:1px solid #CCCCCC;
}
.form-text {
	width:60% !important;
}
#pro_info {
	width:440px;
	*width:400px;
	margin-left:170px;
}
/*#pro_address {
	width:440px;
	margin-left:170px;
}
*/
/*end profile css*/

/*profole gallery*/

#pro_images {
	width:100%;
	height:100%;
	float:left;
}
#pro_images #pro_image {
	float:left;
	margin-right:35px;
	margin-bottom:20px;
}
#pro_images #pro_image img {
	max-width:180px;
	height:auto;
	border:4px solid #FFFFFF;
	outline:1px solid #666666;
}
#sidebar-left .menu li a{
height:auto !important;
display:block !important;
/* padding-left: 55px;*/
 font-size:11px;
 font-family:Arial;
 font-weight:normal;
 
 
  border-bottom: 1px solid #FFFFFF;
    color: #333333;
    padding:4px 8px 3px 36px;
    position: relative;
	line-height:13px;
    text-decoration: none;

}
#sidebar-left .menu li a:hover, #sidebar-left .menu li a.hover{
background-color: #EFF2F7;
}
#sidebar-left .menu li a.active, #sidebar-left .menu li a:active{
 background-color: #D8DFEA;
    font-weight: bold;
}

#sidebar-left .menu li{
 line-height: 38px;
 list-style:none;
 list-style-image:none;

}
.field-field-book-img{
float:left;
padding: 10px;
padding-top:0px;
}
#block-block-57{
float:left;
overflow:hidden;

margin-bottom:10px;
}
#block-block-57 h2.title{
display:none;
}
.views-field-field-galleryimage-fid .field-item{
float:left;
   margin-right: 5px;
}
#block-block-59 a{
font-size:16px !important;
margin-right:15px;
}
#search-block-form #edit-submit{
 background: none repeat scroll 0 0 #1F3705;
    border: 0 none;
    color: #FFFF99;
    font-size: 10px;
    height: 21px;
    margin-top: 0;
    padding-bottom: 3px;
}
#search-block-form{
margin: 0;
    padding: 0;
    width: 440px;

}
#edit-search-block-form-1-wrapper label{
display:none;
}
#block-search-0 .title{
float:left;
padding-right:3px;
}
#block-views-gallery_home_page-block_1 h2.title{
display:none !important;
}
.image-gallery-content a img:hover, a:visited img:hover{ border: 4px double black !important }
#block-views-ad_block-block_1 .node{
padding:0px;
margin:0px;

}
#block-views-ad_block-block_1 h2.title{
display:none;
}
.topbannerinner{
height:90px;

}
.view-block-list-leftside-img td{
  border: 1px solid gray;
    padding: 5px;
    vertical-align: top;

}
#sidebar-left{
    border-right: 1px solid gray;
}
#sidebar-right{
padding-left:10px;
    border-left: 1px solid gray;
}
.image-gallery-content{
float:left;
min-height: 200px;
}
.main-product{

width:auto!important;
}